* {
    box-sizing: border-box;
}

.container {
    max-width: 1200px;
    margin: auto;
}

.flex-container {
    display: flex;
    flex-flow: row wrap;
}

.flex-item {
    flex: 0 0 100%;
    border: thin solid #ccc;
}